.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #401608;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
nav ul li a:hover {
                color: #8c310f;
                font-weight: bolder;
            }
h5{
	color: #401608;
	font-size: 30px;
	font-family: forum;
	text-align: center;
}
#banner1{
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	opacity: 30%;
	background-position: top;
}

.carousel-control-prev-icon {
  background-color: #401608;
  mask: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M4.5 0l-4 4 4 4v-2.5h3v-3h-3z'/%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M4.5 0l-4 4 4 4v-2.5h3v-3h-3z'/%3E%3C/svg%3E");
  mask-size: cover;
  -webkit-mask-size: cover;
}

.carousel-control-next-icon {
  background-color: #401608;
  mask: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M3.5 0l4 4-4 4v-2.5h-3v-3h3z'/%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M3.5 0l4 4-4 4v-2.5h-3v-3h3z'/%3E%3C/svg%3E");
  mask-size: cover;
  -webkit-mask-size: cover;
}

.menu-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menu2 {
    font-family: "host grotesk";
    text-align: center;
    background-color: #401608;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    text-decoration: none;
}
/* Botón izquierdo */
#ant1 {
    margin-right: 80px;
}

/* Botón derecho */
#sig1 {
    margin-left: 80px;
}
#info1{
    font-family: "host grotesk";
    text-align: center;
    background-color: #401608;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    text-decoration: none;
	align-items: center;
}

#biblioteca {
    width: auto;
    height: 320px;
    float: left;
    padding-left: 20px;
}
#palafox {
    width: auto;
    height: 320px;
    float: right;
    padding-right: 310px;
}
#informacion, #informacion2, #informacion3{
	width: 300px;
	height: 300px;
	padding: 20px;
	border-radius: 20px;
	align-items: center;	
}
#info2, #info22, #info23{
	font-family: "host grotesk";
    text-align: center;
    background-color: #401608;
    color: white;
    padding: 10px;
	margin-top: 0px;
    margin-left: 100px;
	margin-right: 110px;
    text-decoration: none;
	align-items: center;
	display: inline-block;
}
.pie{
    background-color: #401708;
    height: auto;
}
 
#info_pie{
    color: white;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 25px;
}
 
#logo_blanco{
    height: 40px;
}
 
#redes{
    height: 30px;
    margin-left: 15px;
}
 
#logo_blanco:hover{
  filter: opacity(60%)
}
 
#redes:hover{
  filter: opacity(40%)
}