.navbar-brand{
	margin-right: 0;
	padding: 0 2em;
	
}
.navbar-brand img{
	width: 180px;
	top: 0.6em;
}
.navbar-nav{
    align-items: center;
    margin-top: 5px;
}

.navbar .navbar-nav .nav-link{
	padding: 0 2em;
	color: #FFFFFF;
}

html,body{
	height: 100%;
    width: 100%;
}
body{
	background-image: url("../img/fondo.jpg");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-link {
    color: #FFFFFF;
}
.lines-effect{
	display: inline-block;
	position:relative;
}
.lines-effect{
	content: '';
	position: absolute;
	width: 98%;
	height: 2px;
	background-color: #FFFFFF;
}
.row .col-lg-12 {
    padding-top: 60%;
    margin-left: 25%;
    color: #FFFFFF;
}
.container-fluid{
	font-family: "Forum", serif;
	
}
h1{
	font-family: "Forum", serif;
	margin-bottom: auto;
}
.row{
	font-family: "Host Grotesk";
}
p{
	font-family: "Host Grotesk";
	font-size: 25px;
}
h6{
	font-family: "Host Grotesk";
	font-size: 15px;
	margin-bottom: 10px;
}
.btn.btn-sm {
    color: #8C310F;
    background-color: #FFFFFF;
	border-radius: 40px;
}
/* Footer css */
.pie{
    background-color: #401708;
    height: auto;
    width: 100%;
    margin-top: 30px;
}
 
#info_pie{
    color: white;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 25px;
}
 
#logo_blanco{
    height: 40px;
}
 
#redes{
    height: 30px;
    margin-left: 15px;
}
 
#logo_blanco:hover{
  filter: opacity(60%)
}
 
#redes:hover{
  filter: opacity(40%)
}
/* Fin footer css */
 
p   {
    font-size: small;
}
